body { 
	background-color: white;
	color: black;
	font-family: 'Playfair Display', serif;
	}

.logo {
	border-radius: 50%;
	}

.header {
	background-color: #f2c7a4;
	font-family: 'Playfair Display SC', serif;
	text-align: center;
	color: white;
	font-weight: bold;
	}	

.logo {
	height: 125px;
	width:125px;
	}

.footer { 
	background-color: #f2c7a4;
	height: 100px
	} 

.sunset {
	width: 300px
	} 

.aereo {
	width: 200px
	} 	

.cactus {
	width: 200px
	} 

.boats {
	width: 200px
	} 

.road {
	width: 200px
	} 

.catania {
	width: 200px
	} 

.stpaul {
	width: 200px
	} 

.hoian {
	width: 200px
	} 






