body { 
	background-color: white;
	font-family: 'Playfair Display', serif;
	}

.header { 
	background-color: #FF7E5D;
	margin-bottom: 25px;
	}
.pink { 
	background-color: #FF7E5D !important;
		margin-bottom: 50px;
	}
.header-font { 
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	margin-left: 30px;
	margin-top: 10px;

	}

.collage {
	width: 32%;
	padding: 20px;	
}

.collage:hover,
.cactus:hover {
	opacity: 0.8;
}

.dropdown-menu{ 
	left: -38px
}

.header-row {
	margin:0;
}

.cactus {
	width: 32%;
	padding: 9px;
	}

.image-row {
	margin-top: 20px;
	}  

.rounded-img { 
	border-radius: 50%;
	width: 50%;
	}

.title {
	font-size:100%;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	}  

.card {		
border: 3px solid #FF7E5D;
}

.description {
	margin-left: 20px;
	}  

.details {
	text-align: center;
  } 

 .details2 {
	padding-right: 9px;
	}  

.navs {
	font-color: white !important;
	}  

.aboutme {
	text-align: center;
	margin-bottom: 25px
	} 

.sunset{ 
	float: left; 
	width: 200px;
	padding-right: 30px;
}


